[submodule "dmlc-core"]
	path = 3rdparty/dmlc-core
	url = git@github.com:dmlc/dmlc-core.git
[submodule "dlpack"]
	path = 3rdparty/dlpack
	url = git@github.com:dmlc/dlpack.git
[submodule "3rdparty/rang"]
	path = 3rdparty/rang
	url = git@github.com:agauniyal/rang.git
[submodule "3rdparty/libbacktrace"]
	path = 3rdparty/libbacktrace
	url = git@github.com:tlc-pack/libbacktrace.git
